[submodule "remote/typescript"]
	path = remote/typescript
	url = https://github.com/frecklefacelabs/typescript_doc_test.git
[submodule "remote/python"]
	path = remote/python
	url = https://github.com/frecklefacelabs/python_doc_test.git
[submodule "remote/golemdb_python_sdk"]
	path = remote/golemdb_python_sdk
	url = https://github.com/Golem-Base/python-sdk.git
